@media (max-width: 1385px) {
  .wrapper {
    width: 850px;
  }

  .header {
    &__worktime {
      display: none;
    }

    &__nav {
      &-list {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 13px 0 10px;
      }

      &-link {
        padding: 10px 13px;
      }

      &-item {
        margin-right: 20px;
      }
    }
  }

  .study {
    width: 100%;
    min-height: auto;
    background: $white;
    margin-top: 0;
    padding-top: 0;

    &__btns {
      display: none;
    }

    &__text {
      padding: 19px 70px 35px 52px;
      font-size: 16px;
      line-height: 21px;

      &-wrapper {
        max-height: none;
        margin-right: 50px;
        width: 100%;
      }
    }

    &__btn {
      justify-content: space-between;
      padding: 17px 20px 17px 52px;

      &:not(.active) {
        border-color: #d8d8d8;
      }

      &:not(:first-child) {
        margin: -1px 0 0;
      }

      &_mobile {
        display: flex;
        width: 100%;
      }

      .arrow-down {
        transition: none;
      }

      &.active .arrow-down {
        transform: rotate(180deg);
        background-image: url(../app/img/icons/arrow-down-w.svg);
      }
    }
  }

  .swiper {
    width: calc(100% + 20px);
    margin-top: 10px;
    margin-bottom: 119px;
    background-image: url(/app/img/bg/bg-tablet.svg);

    &-slide {
      height: 903px;

      &__img {
        margin: auto -30px -8px auto;
      }
    }

    &-pagination {
      top: auto !important;
      bottom: 22px !important;
      text-align: center;
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      margin: 0 2px 0 3px;
    }
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 0;
    background: #d8d8d8;

    &-active {
      background: #555;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .slide {
    &__content {
      max-width: 710px;
      padding-left: 83px;
      padding-top: 58px;
    }

    &__title {
      max-height: none;
      margin: 0 0 24px;
    }

    &__btns {
      flex-wrap: wrap;
      width: 207px;
      padding-top: 35px;

      .btn {
        width: 100%;
        text-align: center;
        padding: 20px;

        &:first-child {
          margin-right: 0;
          margin-bottom: 14px;
        }
      }
    }
  }

  .news {
    width: calc(100% + 50px);
    margin: 0 -25px 7px;
    padding-top: 51px;

    &__item {
      width: calc(50% - 50px);
      margin-left: 25px;
      margin-right: 25px;
    }

    &__title {
      margin-top: 13px;
    }

    &__text {
      margin-top: 11px;
    }
  }

  .btn_show-more {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 187px;
    margin-bottom: 119px;
    padding: 13px;
  }

  .filter {
    padding-top: 14px;

    &__btn {
      min-width: 300px;
      padding: 0 11px 0 16px;
    }
  }

  .form-block {
    padding: 80px 0 0;
    margin: 120px 0;
    min-height: 556px;

    &__title {
      margin: 0 auto;
    }

    &__form {
      flex-wrap: wrap;
      max-width: 436px;
      margin: 40px auto 0;
    }

    &__input {
      width: 100%;
      margin: 0 0 20px;
      height: 48px;
    }

    &__note {
      max-width: 400px;
      margin: 20px auto 0;
      text-align: center;
    }
  }

  .btn_form {
    width: 100%;
  }

  .footer {
    padding: 32px 0 47px;

    &__logo {
      order: 1;
      margin: 0 0 46px;
    }

    &__address-block {
      &:first-child {
        order: 2;
      }
      &:nth-child(2) {
        order: 3;
      }
    }

    &__content {
      flex-wrap: wrap;
    }

    &__social {
      width: 100%;
      margin: 35px 2px 0;

      &-link {
        margin: 0 30px 0 0;
      }
    }

    &__copyright {
      display: flex;
      flex-wrap: wrap;
      margin: 52px 0 0;

      &-text {
        margin-right: 90px;
        margin-bottom: 0;
      }
    }
  }

  .faq__block:after {
    right: 21px;
  }
}

@media (max-width: 880px) {
  .wrapper {
    max-width: 360px;

    &_nav {
      display: none;
    }
  }

  .header {
    &__logo img {
      width: 188px;
    }

    &__topline {
      &-wrapper {
        padding: 20px 0 14px;
      }
    }

    &__menu {
      display: flex;
      margin-left: 10px;
    }

    &__phone {
      display: none;

      &:first-child {
        display: block;
        width: 40px;
        height: 40px;
        background: url(/app/img/icons/phone-icon.svg) center no-repeat;
        background-size: contain;
        border: none;
        font-size: 0;
      }
    }
  }

  .swiper {
    width: calc(100% + 15px);
    margin: 0 0 76px;
    background: none;

    &-slide {
      height: auto;

      &__img {
        margin: 0;
      }
    }

    &-pagination {
      bottom: 1px !important;
    }
  }

  .slide {
    &__content {
      max-width: 100%;
      padding: 15px 20px;
    }

    &__title {
      min-height: initial;
      margin: 0 0 10px;
      font-size: 26px;
      line-height: 29px;
    }

    &__subtitle {
      font-size: 14px;
      line-height: 20px;
    }

    &__btns {
      width: 131px;
      padding-top: 15px;

      .btn {
        padding: 11px 0;
        min-width: initial;
        &:first-child {
          margin-bottom: 5px;
        }
      }
    }
  }

  .btn {
    font-size: 14px;
    line-height: 16px;
  }

  .page-title {
    font-size: 24px;
    line-height: 26px;
  }

  .study {
    margin: 0px -30px 76px;
    width: auto;

    &__btn {
      padding: 12px 27px 16px 29px;
      font-size: 16px;
      line-height: 19px;
    }

    &__text {
      padding: 37px 30px 35px 31px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .news {
    width: 100%;
    margin: 0;
    padding-top: 57px;

    &__item {
      margin: 0 0 50px;
      width: 100%;
    }

    &__date {
      margin-top: 2px;
    }

    &__title {
      margin-top: 5px;
      font-size: 24px;
      line-height: 26px;
    }

    &__text {
      margin-top: 26px;
      font-size: 16px;
      line-height: 18px;
    }
  }

  .btn_show-more {
    margin: -18px auto 83px;
  }

  .faq {
    &__block {
      margin-bottom: 25px;
      padding: 0 0 25px;
      background: none;
      border-top: none;
      border-right: none;
      border-left: none;

      &::after {
        right: -3px;
        top: 0;
        background-size: 13px;
      }

      &.active::after {
        top: 9px;
      }
    }

    &__question {
      padding-right: 30px;
      font-size: 16px;
      line-height: 19px;
    }

    &__answer {
      padding-right: 0;
      padding-top: 23px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .form-block {
    margin: 80px 0 1px;
    padding-top: 53px;

    &__title {
      height: 56px;
      max-width: 237px;
      background-size: cover;

      &-text {
        margin-bottom: -10px;
        font-size: 24px;
        line-height: 26px;
      }
    }

    &__form {
      margin: 49px auto 0;
      max-width: 100%;
      padding: 0 33px;
    }

    &__input {
      min-width: initial;
    }

    &__note {
      max-width: 200px;
    }
  }

  .footer {
    &__logo {
      margin: 0 0 52px;
    }

    &__address {
      margin-top: 6px;
    }

    &__address-block:nth-child(2) {
      margin-top: 24px;
    }

    &__social {
      margin: 40px 0 0;

      &-link {
        margin: 0 4px 0 0;
        transform: scale(0.7);
        transform-origin: left center;
      }
    }

    &__copyright {
      margin: 45px 0 0;

      &-text {
        margin: 0 0 16px;
      }
    }
  }
}
