<section class="faq">
  <h2 class="page-title">Вопрос / ответ</h2>

  <div class="faq__list">
    <div class="faq__block">
      <div class="faq__question">
        Ваш институт помогает в организации практики студентам?
      </div>

      <div class="faq__answer">
        Да, мы плодотворно сотрудничаем с ведущими компаниями-работодателями.
        Кроме того, уже несколько лет в нашем институте действует Центр
        трудоустройства. Основным направлением его работы является разработка и
        реализация целевых программ обучения, стажировок и трудоустройства
        студентов в крупнейшие российские и зарубежные компании. Специалисты
        центра помогают студентам и выпускникам ориентироваться в условиях
        изменчивого рынка труда, правильно оценивать свой профессиональный
        потенциал и находить престижную работу.
      </div>
    </div>

    <div class="faq__block">
      <div class="faq__question">
        Мне поступило сообщение из вашего института с просьбой оплатить услуги
        на карту или передать наличными деньгами менеджеру. Такое возможно?
      </div>

      <div class="faq__answer">Нет</div>
    </div>

    <div class="faq__block">
      <div class="faq__question">
        Каков преподавательский состав в институте?
      </div>

      <div class="faq__answer">Каков преподавательский состав в институте?</div>
    </div>

    <div class="faq__block">
      <div class="faq__question">
        У меня уже есть высшее образование. Насколько перспективно получать
        второе высшее?
      </div>

      <div class="faq__answer">
        У меня уже есть высшее образование. Насколько перспективно получать
        второе высшее?
      </div>
    </div>

    <div class="faq__block">
      <div class="faq__question">
        Где территориально находится ваш институт?
      </div>

      <div class="faq__answer">Где территориально находится ваш институт?</div>
    </div>

    <div class="faq__block">
      <div class="faq__question">
        Какие документы потребуются для поступления в МТИ?
      </div>

      <div class="faq__answer">
        Какие документы потребуются для поступления в МТИ?
      </div>
    </div>
  </div>
</section>
