<section class="form-block">
  <picture>
    <source
      srcset="/app/img/bg/bg-form-mobile.svg"
      media="(max-width: 880px)"
    />
    <source
      srcset="/app/img/bg/bg-form-tablet.svg"
      media="(max-width: 1385px)"
    />
    <img src="/app/img/bg/bg-form.svg" class="form-block__bg" alt="" />
  </picture>

  <div class="form-block__title">
    <div class="form-block__title-text">
      Поможем <br />в выборе!&nbsp;
    </div>
  </div>

  <form action="" class="form-block__form">
    <input type="text" class="form-block__input" placeholder="Имя" />
    <input type="tel" class="form-block__input" placeholder="Телефон" />
    <button class="btn btn_red btn_form">Отправить</button>
  </form>

  <div class="form-block__note">
    Отправляя данную форму, вы соглашаетесь с
    <a href="http://" target="_blank" rel="noopener noreferrer">
      политикой обработки персональных данных
    </a>
    и на получение рассылок
  </div>
</section>
