<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#ffffff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1" />

    <title>МТИ</title>

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/app/img/favicon-16x16.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="dist/style.css?cb=1" />
  </head>
  <body>
    <div class="content">
      @@include('./header.html')
      <main>
        <div class="wrapper">
          @@include('./slider.html')
          @@include('./study-block.html')
          @@include('./news.html')
          @@include('./form-block.html')
        </div>
      </main>

      @@include('./footer.html')
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="dist/all.js?cb=1"></script>
  </body>
</html>
