<nav class="header__nav">
  <ul class="header__nav-list">
    <li class="header__nav-item">
      <div class="nav-dropdpown">
        <a href="#" class="header__nav-link">
          Об институте
          <div class="arrow-down"></div
        ></a>

        <ul class="nav-dropdpown__list">
          <li class="nav-dropdpown__list-item">
            <a href="#" class="nav-dropdpown__list-link">О нас</a>
          </li>
          <li class="nav-dropdpown__list-item">
            <a href="#" class="nav-dropdpown__list-link">История</a>
          </li>
          <li class="nav-dropdpown__list-item">
            <a href="#" class="nav-dropdpown__list-link">Преподаватели</a>
          </li>
          <li class="nav-dropdpown__list-item">
            <a href="#" class="nav-dropdpown__list-link">Партнеры</a>
          </li>
          <li class="nav-dropdpown__list-item">
            <a href="#" class="nav-dropdpown__list-link">Новости</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">Поступающему</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">Студенту</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">Высшее образование</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">Колледж</a>
    </li>
    <li class="header__nav-item">
      <a href="#" class="header__nav-link">Каталог</a>
    </li>
  </ul>
</nav>
